*{
    padding:0;
    margin:0;
    font-family:"UD Digi Kyokasho N-B";
}

*::selection{
    color  : #8f7bc6;
    background-color: #4d3c9f;
}

#FULL{
    width: 100%;
    height: 100%;

    padding: 0 !important;
    margin:0 !important;
    display: flex;
    justify-content: center;
    align-items: center;

}

body{
    background: linear-gradient(180deg, #221c32, #191525);;
}



label{
    color: rgb(201, 201, 201);
    font-size:0.8em;
    text-shadow: black 0.1em 0.1em 1em
}

#title{
    font-size:9em;
}
#contest{
    font-size:1em;
}
#only{
    display: grid;
    padding:10px !important;
}