*{
    margin: 0;
    padding: 0;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;

    font-family: "Yu Gothic UI Semibold", "UD Digi Kyokasho N-B", sans-serif;
}


body{
    height: 100vh;
    width: 100vw;
    background: repeating-radial-gradient(#ffffff, #dddddd, #b3b3b3, #959595);

    overflow-y: hidden;
    overflow-x: hidden;

    position: fixed;
}



#box{
    transform: translate(-50%, -50%);

    position: absolute;
    top: 50%;
    left: 50%;

    width: 220px;
    height: 220px;
}

.pass{
    width: 220px;
    height: 220px;

    position: absolute;
    top: 0; left: 0;

    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;

    /*background-image: url("./chunk.png");*/
    /*box-shadow: #ffffff 0 0 1px 1px inset;*/

    display: flex;
    flex-wrap: wrap;
}


.chunk{
    width: 50%;
    height: 50%;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.blackChunk{
    background: #000000;
}

.whiteChunk{
    background: #ffffff;
}




#passZFront{
    transform: rotateX(0deg) rotateY(180deg);


    z-index: 3;

}

#passZBack{
    transform: rotateX(0deg) rotateY(0deg) ;



    z-index: 0;
}


#passXFront{
    transform: rotateX(0deg) rotateY(90deg) ;



    z-index: 0;


}

#passXBack{
    transform: rotateX(0deg) rotateY(270deg);


    z-index: 0;


}

#passYFront{
    transform: rotateX(90deg) rotateY(0deg);



    z-index: 0;

}

#passYBack{
    transform: rotateX(270deg) rotateY(0deg);


    z-index: 0;

}




.button{
    top: 50%;
    left: 50%;

    width: 80px;
    height: 80px;

    position: absolute;

    transform: translate(-50%, -50%);

    z-index: -100;

    font-size: 15px;


}

.button div{
    position: absolute;
    cursor: pointer;

}

.button div div{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;


    cursor: pointer;
    writing-mode:vertical-rl;


    text-shadow: black 0 0 10px;
}

.buttonFrontSide{
    /*transform: rotateX(0deg) rotateY(0deg) translateX(0) translateY(0) translateZ(40px);*/

    width: 80px;
    height: 80px;


}

.buttonFrontSide div{
    width: 85%;
    height: 85%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 20px;
    border: 2px solid #000000;
}

.buttonFrontSide img{
    width: 90%;
    height: 90%;

    overflow: hidden;
    border-radius: 50%;

    border: 2px solid #000000;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.buttonFrontSide h1{
    width: 90%;
    height: 90%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 35px;

    border-radius: 50%;

    border: 2px solid #000000;
}

.buttonBackSide{
    /*background: deeppink;*/
    /*transform: rotateX(0deg) rotateY(180deg) translateX(0) translateY(0) translateZ(40px);*/

    width: 80px;
    height: 80px;

    box-shadow: black 0 0 10px 2px;

    z-index: -1;
}

.buttonRightSide{
    /*transform: rotateX(0deg) rotateY(90deg) translateX(0) translateY(0) translateZ(40px);*/

    width: 80px;
    height: 80px;


}

.buttonRightSide div{

    width: 24px;
    height: 80px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttonLeftSide{
    /*transform: rotateX(0deg) rotateY(-90deg) translateX(0) translateY(0) translateZ(40px);*/

    width: 80px;
    height: 80px;

}

.buttonLeftSide div{

    width: 24px;
    height: 80px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.buttonTopSide{
    /*transform: rotateX(90deg) rotateY(0deg) translateX(0) translateY(0px) translateZ(40px);*/

    width: 80px;
    height: 80px;
}

.buttonTopSide div{

    width: 80px;
    height: 24px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.buttonBottomSide{
    /*transform: rotateX(-90deg) rotateY(0deg) translateX(0) translateY(0px) translateZ(40px);*/

    width: 80px;
    height: 80px;
}

.buttonBottomSide div{

    width: 80px;
    height: 24px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


