*{
    padding: 0;
    margin: 0;

    font-family: "UD Digi Kyokasho N-B", "system-ui", "serif";

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;


}

@keyframes bubble {
    0%{
        transform:  translate(0,-100%) rotate(-3deg);
    }

    20%{
        transform: translate(0%,-100%) rotate(0deg);
    }
    40%{
        transform:  translate(0%,-100%)rotate(2deg);
    }
    60%{
        transform:translate(0%,-100%) rotate(0deg);
    }
    80%{
        transform: translate(0%,-100%) rotate(0deg);
    }
    100%{
        transform: translate(0%,-100%) rotate(-3deg);
    }
}

@keyframes shake {
    0%{
        transform:  translate(-50%,-50%) rotate(-0.5deg);
    }

    20%{
        transform: translate(-50%,-50%)  rotate(0deg);
    }
    40%{
        transform:  translate(-50%,-50%) rotate(.5deg);
    }
    60%{
        transform: translate(-50%,-50%)  rotate(0deg);
    }
    80%{
        transform:  translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform:  translate(-50%,-50%) rotate(-.5deg);
    }
}

html{
    width: 100%;
    height: 100%;

    overflow-y: hidden;
    overflow-x: hidden;
}

body{

    background: linear-gradient(80deg, #38144a, #23184a);


    height: 100vh;
    width: 100vh;
}

#Main{
    width: 100%;
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;


}

#Bubbles{
    width: 0;
    height: 0;

    display: inline-flex;
    grid-auto-flow: column;
    flex-wrap: wrap



}

.Square{




    margin-bottom: 10px;
    margin-right: 10px;

    margin-top: 0;
    margin-bottom: 0;

    display: inline-block;
    width: 50px;
    height: 50px;

    position:absolute;
    transform: translate(0,-100%);



    left: 100%;
    top: 50%;

    animation: bubble 5s infinite ;

    border-radius: 25%;
    border: 2px solid #d6d6d6;

    font-size: 25px;
    color: #d6d6d6;


    text-shadow: rgba(0, 0, 0, 1) 0.1em 0.1em 1em;



}


#Page{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}
#Card{


    backdrop-filter: blur(20px);


    background-color: rgba(102, 51, 153, 0);
    border: 2px solid rgba(69, 35, 108, 0);


    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    width: 100px;
    height: 0;



    z-index : 100;

    position: absolute;
    left: 50%;
    top: 120%;

    box-shadow: 0 0 30px rgba(0, 0, 0, 1);


    animation: shake 5s infinite ;






}


.Title{
    color: rgba(255, 255, 255, 0.74) ;

    text-shadow: #000000 0.1em 0.1em 1em;
    font-size: 50px;

    padding-bottom: 5px;
}

.Case{


    padding-left: 40px;
    padding-right: 40px;

    padding-bottom: 20px;

    height: auto;


    margin: 40px 40px;
}

.Content{
    font-size: 20px;

    text-shadow: #000000 0.1em 0.1em 1em;
    padding-bottom: 5px;
}

.ImagesCase{
    display: flex;
    overflow-x: auto;

    height: auto;
    width: 100%;


}

.Image{
    width: auto;
    height: 280px;

    margin: 20px;

    border: 3px solid rgba(69, 35, 108, 0);
    border-radius: 20px;
    background-color: rgba(214, 214, 214, 0);
    flex: 1;
    flex-shrink: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);



    background-color: rgba(255, 255, 255, 0.24);
}

.LinksCase{
    margin-top: 20px;
    display: grid;
}

.Link{
    padding-bottom: 10px;
}

#TopBar{
    backdrop-filter: blur(10px);

    height: 50px;
    width: calc(100% - 16px);

    display: flex;
    justify-content: center;
    align-items: center;


    border-top-left-radius: 50px;

    border: 3px solid rgba(69, 35, 108, 0);

    position: fixed;
}


a{
    color: rgba(255, 255, 255, 0.54);
}

a::before{
    content: "$ ";
}

h6{
    text-shadow: #000000 0.1em 0.1em 1em;
}

h2{
    text-shadow: #000000 0.1em 0.1em 1em;

}

.Icon{
    margin-top: 3px;
    z-index : 101;
    width: 0;
    height: auto;

    border-radius: 18px;
    box-shadow: 0 0 10px rgb(0, 0, 0);

}

h4{
    color : rgba(255, 255, 255, 0.51);
    font-size: 18px;


}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;

}

::-webkit-scrollbar-track {
    box-shadow: 0 0 2px rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.21);

    border-radius: 10px;
    backdrop-filter: blur(20px);


}


::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.24);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 2px rgb(255, 255, 255);


}


::-webkit-scrollbar-thumb:hover {
    background: rgba(194, 194, 194, 0.64);
    backdrop-filter: blur(20px);

}

#CloseButton{
    backdrop-filter: blur(20px);

    position: absolute;

    top: -50%;
    right: 50%;

    width: 55px;
    height: 55px;

    border-radius: 100%;

    border: 3px solid #A32D5C;
    text-shadow: #000000 0.1em 0.1em 1em;
    box-shadow: 0 0 30px #A01E61;
    background-color: #B8216B;

    font-size: 30px;
    transform:  translate(-50%,-50%);

    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: pointer;
}

@keyframes CloseButtonAnim {
    from{
        transform:  translate(-50%,-50%) rotate(0deg); ;
    }
    to{
        transform:  translate(-50%,-50%) rotate(-360deg); ;
    }
}

#CloseButton:hover{
    cursor: pointer;
    animation: forwards CloseButtonAnim .3s ;
}

#TopBarImg{
    border-radius: 10px;

    height: 80%;
    width: auto;
    margin-right: 10px;
}

.Line{
    width: 100%;
    height: 3px;

    border-radius: 100px;
    box-shadow: 0 0 30px #000000;

}

@keyframes LoadBoxAnim {
    0%{
        border-radius: 30px;
    }
    10%{
        border-radius: 60px;

    }
    20%{
        border-radius: 90px;

    }
    30%{
        border-radius: 60px;

    }
    40%{
        border-radius: 90px;

    }
    50%{
        border-radius: 60px;

    }
    60%{
        border-radius: 30px;

    }
    70%{
        border-radius: 60px;

    }
    80%{
        border-radius: 90px;

    }
    90%{
        border-radius: 60px;

    }
    100%{
        border-radius: 30px;


    }
}

.LoadBox{
    width: 100%;
    height: 200px;
    box-shadow:  rgb(255, 255, 255) 0.1em 0.1em 1em;

    background-color: rgba(255, 255, 255, 0.24);

    border: 5px solid rgba(255, 255, 255, 0.58);
    animation: LoadBoxAnim 5s infinite ease-in-out;
}