/*
    DEFINE
 */

*{
    margin: 0;
    padding: 0;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;

    overscroll-behavior-y: contain;
    overscroll-behavior-x: none;

    font-family: 'Huninn', sans-serif;
    font-weight: bold;

}

root{
    --fh : 100px;
    --fw : 100px;
}

html{
    position: absolute;
    overflow: hidden;
}

body{
    height: var(--fh,100vh);
    width: var(--fw,100vw);
    background: #ececec;

    overflow: hidden;
    position: absolute;

    transition: all 320ms ease;
}

#Hub{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transition: all 320ms ease-out;
}

#box{
    transform: translate(-50%, -50%);

    position: absolute;
    top: 50%;
    left: 50%;

    width: 220px;
    height: 220px;

}

.pass{
    width: 220px;
    height: 220px;

    position: absolute;
    top: 0; left: 0;

    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;

    /*background-image: url("./chunk.png");*/
    /*box-shadow: #ffffff 0 0 1px 1px inset;*/

    display: flex;
    flex-wrap: wrap;
}


.chunk{
    width: 50%;
    height: 50%;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 320ms ease;
}

.blackChunk{
    background: #202020;
}

.whiteChunk{
    background: #cfcfcf;
}




#passZFront{
    transform: rotateX(0deg) rotateY(180deg);


    z-index: 3;

}

#passZBack{
    transform: rotateX(0deg) rotateY(0deg) ;



    z-index: 0;
}


#passXFront{
    transform: rotateX(0deg) rotateY(90deg) ;



    z-index: 0;


}

#passXBack{
    transform: rotateX(0deg) rotateY(270deg);


    z-index: 0;


}

#passYFront{
    transform: rotateX(90deg) rotateY(0deg);



    z-index: 0;

}

#passYBack{
    transform: rotateX(270deg) rotateY(0deg);


    z-index: 0;

}




.button{
    top: 50%;
    left: 50%;

    width: 80px;
    height: 80px;

    position: absolute;

    transform: translate(-50%, -50%);

    z-index: -100;

    font-size: 15px;
}

.button div{
    position: absolute;
}

.button div div{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;


    writing-mode:vertical-rl;


    text-shadow: rgba(0,0,0,.8) 0 0 5px;
}

.buttonFrontSide{
    /*transform: rotateX(0deg) rotateY(0deg) translateX(0) translateY(0) translateZ(40px);*/

    width: 80px;
    height: 80px;

    cursor: pointer;
}

.buttonFrontSide div{
    width: 85%;
    height: 85%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 20px;

    border-style:  solid;
    border-width:  2px;
}

.buttonFrontSide img{
    width: 90%;
    height: 90%;

    overflow: hidden;
    border-radius: 50%;

    border-style:  solid;
    border-width:  2px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.buttonFrontSide h1{
    width: 90%;
    height: 90%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 35px;

    border-radius: 50%;

    border-style:  solid;
    border-width:  2px;

    text-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
}

.buttonBackSide{
    width: 80px;
    height: 80px;

    box-shadow: black 0 0 10px 2px;

    z-index: -1;
}

.buttonRightSide{
    width: 80px;
    height: 80px;
}

.buttonRightSide div{
    width: 24px;
    height: 80px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    cursor: pointer;
}

.buttonLeftSide{
    width: 80px;
    height: 80px;
}

.buttonLeftSide div{

    width: 24px;
    height: 80px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    cursor: pointer;
}



.buttonTopSide{
    width: 80px;
    height: 80px;
}

.buttonTopSide div{
    width: 80px;
    height: 24px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    cursor: pointer;
}


.buttonBottomSide{
    /*transform: rotateX(-90deg) rotateY(0deg) translateX(0) translateY(0px) translateZ(40px);*/

    width: 80px;
    height: 80px;
}

.buttonBottomSide div{

    width: 80px;
    height: 24px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    cursor: pointer;
}


#DynamicBubbleBase{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);

    width: 420px;
    height: 150px;

    z-index: 5;

}


@media (max-width: 900px){
    #DynamicBubbleBase{

        width: 370px;

    }
}

@media (max-width: 420px){
    #DynamicBubbleBase{

        width: 340px;

    }
}


.DynamicBubble{
    position: absolute;

    width: 30%; /*100%*/
    min-height: 120px;
    max-height: calc(var(--fh,100vh) - 60px);
    height: 120px;

    /*border: #b6b6b6 2px solid;*/
    border-radius: 40px;

    transform: translateX(-50%) translateY(0);
    top: var(--fh,100vh);
    left: 50%;

    background: rgba(228, 228, 228, 0.7);
    border: 3px solid rgba(207, 207, 207, 0.7);
    box-shadow: 0 0 40px 5px rgba(198, 198, 198, 1);

    transition: all 340ms cubic-bezier(0, 0.6, 0.1, 1);

    z-index: 1;

    cursor: pointer;

    backdrop-filter: blur(5px);

    overflow: hidden;

    text-shadow: rgba(255, 255, 255, 0.75) 0 0 20px;
}


.DynamicBubbleTypeTitle{
    width: calc(100% - 20px);
    height: 20px;
    font-size: 24px;

    display: flex;
    justify-content: left;
    align-items: start;

    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;

    color: #393939;

    z-index: 3;

    transition: all 730ms ease;
}

.DynamicBubbleFrame{
    width: 100%;
    height: calc(100% - 20px - 10px - 20px - 30px);

    overflow: hidden;

    transition: all 540ms ease;
}

.DynamicBubbleBottomBar{
    width: 100%;
    height: 30px;

    color: #484848;

    display: flex;
    justify-content: center;
    align-items: center;



    font-size: 16px;

    transition: all 320ms ease;
}


.DynamicBubbleFrameSection{
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% - 20px - 20px);
    height: auto;


    margin-bottom: 10px;
}

.DynamicBubbleFrameTitle{
    font-size: 26px;

    margin-top: 10px;

    word-wrap: break-word;
    white-space:pre-wrap;

}

.DynamicBubbleFrameContent{
    font-size: 18px;


    font-weight:normal;
}

.DynamicBubbleFrameButton{
    font-size: 18px;
    border: 1px solid rgba(44, 44, 44, 0.64);
    backdrop-filter:  blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    transition:  all 250ms cubic-bezier(0, 0.6, 0.1, 1);

    width: 100%;
    height: 100%;
    position: absolute;
    transform:  translate(-50%, -50%);
    top:50%;
    left: 50%;
}

.DynamicBubbleFrameButtonCase{
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);
    height: 40px;
    position: relative;
}


.NotificationBubble{
    min-height: 120px;

}

.PageBubble{
    min-height: 240px;
}

.FunctionBubble{
    min-height: 300px;
}

.DynamicBubbleControlBar{
    width: 36px;
    height: 36px;
    border-radius: 30px;


    border-style: solid;
    border-width: 2px;


    position: absolute;
    top: 15px;
    right: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    transition: all 240ms cubic-bezier(0, 0.6, 0.1, 1);

    backdrop-filter: blur(30px);

    z-index:1;

    cursor:  pointer;
}

.DynamicBubbleControlBar hr{
    width: 12px;
    height: 12px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 200ms ease-out;


    opacity: 0;

    border-radius: 100%;

    background: rgb(186, 186, 186);

    border: none;

    overflow: visible;

}

.DynamicBubbleControlBar div{
    width: 100%;
    height: 60px;

    transition: all 70ms ease;

    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;

    text-shadow: none;
}

.DynamicBubbleControlBarHandle{
    position: absolute;
    transform: translate(-50%,-50%) rotateZ(0deg);
    left: 50%;
    top: 50%;


    width: 30px;
    height:50px;

    transition: all 120ms ease-out;
}



.DynamicBubbleControlBarHandle h2{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    transition: all 120ms ease-out;
}

.DynamicBubbleControlBarHandleRope{
    top: 25px;
    width: 2px;
    height: 18px;

    background: rgb(186, 186, 186);
}
.DynamicBubbleControlBarHandleGrip{
    top: 43px;
    width: 30px;
    height: 30px;


    border-radius: 100%;
    border: 3px solid ;
}

.MouseOnBubble{
    background-color: rgba(236,236,236,0.9);
    border-color: rgba(218,218,218,0.9);
    box-shadow: 0 0 40px 5px rgba(184, 184, 184, 1);
}


::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}


.SearchableBubble .DynamicBubbleFrameSection *{
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    -khtml-user-select: text;
    user-select: text;

    -webkit-user-drag: auto;
    -moz-user-drag: auto;
    -ms-user-drag: auto;
    user-drag: auto;

    cursor: text;
}

.SearchableBubble {
    cursor: auto;
}


/*
    PAINT
 */

@media (prefers-color-scheme: dark) {
    .MouseOnBubble{
        background-color: rgba(19, 19, 19, 0.9) !important;
        border-color : rgba(27, 27, 27, 0.9) !important;;
        box-shadow : 0 0 40px 5px rgb(5, 5, 5) !important;;
        translate: 0 10px !important;
    }

    body{
        background-Color: #171717
    }

    .DynamicBubble{
        background-Color: rgba(39, 39, 39, 0.7);
        border-Color: rgba(25, 25, 25, 0.7);
        box-Shadow:0 0 40px 5px rgb(39, 39, 39);
        text-Shadow: rgba(58, 58, 58, 0.5) 0 0 20px
    }

    .blackChunk{
        background-Color: #1b1b1b;
    }

    .whiteChunk{
        background-Color: #4a4a4a;
    }

    .DynamicBubbleFrameTitle{
        color:#cdcdcd;
    }

    .DynamicBubbleFrameContent{
        color:#c5c5c5
    }

    .DynamicBubbleFrameButton{
        color: #b6b6b6;
        background: rgba(21, 21, 21, 0.6);
        border-color: rgba(41, 41, 41, 0.64);
    }

    .DynamicBubbleTypeTitle{
        color:#c8c8c8
    }

    .DynamicBubbleBottomBar{
        color:#cdcdcd
    }

    .DynamicBubbleControlBar{
        border-Color: rgba(37, 37, 37, 0.75);
    }

    #DynamicBubbleBase hr{
        background-Color: rgb(60, 60, 60);
    }

    .DynamicBubbleControlBarHandleGrip{
        border-Color: rgb(60, 60, 60)
    }

    .DynamicBubbleControlBarHandleRope{
        background-Color: rgb(60, 60, 60)
    }

    .SearchableBubble .DynamicBubbleFrameSection *::selection{
        color: #2b2b2b;
        background-color: rgba(214, 214, 214, 0.8);
        text-shadow: none !important;
    }

    ::-webkit-scrollbar-track {
        box-shadow: 0 0 2px rgba(35, 35, 35, 0.85);
        background-color: rgba(41, 41, 41, 0.73);

        border-radius: 6px;
        backdrop-filter: blur(20px);

    }


    ::-webkit-scrollbar-thumb {
        background: rgba(104, 104, 104, 0.74);
        border-radius: 6px;
        backdrop-filter: blur(20px);
        box-shadow: 0 0 2px rgba(57, 57, 57, 0.74);
    }


    ::-webkit-scrollbar-thumb:hover {
        background: rgba(101, 101, 101, 0.55);
        box-shadow:  0 0 2px rgba(99, 99, 99, 0.55);
        backdrop-filter: blur(20px);
    }
}


@media (prefers-color-scheme: light) {
    .MouseOnBubble{
        background-color: rgba(241, 241, 241, 0.9) !important;
        border-color : rgba(232, 232, 232, 0.9) !important;
        box-shadow : 0 0 40px 5px rgb(255, 255, 255) !important;
        translate: 0 10px !important;
    }

    body{
        background-Color:#ececec
    }

    .DynamicBubble{
        background-Color:rgba(228, 228, 228, 0.7);
        border-Color:rgba(207, 207, 207, 0.7);
        box-Shadow:0 0 40px 5px rgba(198, 198, 198, 1);
        text-Shadow:rgba(255, 255, 255, 0.5) 0 0 20px
    }

    .blackChunk{
        background-Color:#202020;
    }

    .whiteChunk{
        background-Color:#cfcfcf;
    }

    .DynamicBubbleFrameTitle{
        color:#474747;
    }

    .DynamicBubbleFrameContent{
        color:#5c5c5c
    }

    .DynamicBubbleFrameButton{
        color: #575757;
        background: rgba(255, 255, 255, 0.6);
        border-color: rgba(205, 205, 205, 0.64);
    }

    .DynamicBubbleTypeTitle{
        color:#393939
    }

    .DynamicBubbleBottomBar{
        color:#484848
    }

    .DynamicBubbleControlBar{
        border-Color: rgba(216, 216, 216, 0.75);
    }

    #DynamicBubbleBase hr{
        background-Color:rgb(186, 186, 186);
    }

    .DynamicBubbleControlBarHandleGrip{
        border-Color:rgb(186, 186, 186)
    }

    .DynamicBubbleControlBarHandleRope{
        background-Color:rgb(186, 186, 186)
    }

    .SearchableBubble .DynamicBubbleFrameSection *::selection{
        color: #ececec;
        background-color: rgba(50, 50, 50, 0.8);
        text-shadow: none !important;
    }

    ::-webkit-scrollbar-track {
        box-shadow: 0 0 2px rgba(179, 179, 179, 0.85);
        background-color: rgba(202, 202, 202, 0.73);

        border-radius: 6px;
        backdrop-filter: blur(20px);

    }


    ::-webkit-scrollbar-thumb {
        background: rgba(237, 237, 237, 0.74);
        border-radius: 6px;
        backdrop-filter: blur(20px);
        box-shadow: 0 0 2px rgba(200, 200, 200, 0.74);
    }


    ::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 255, 255, 0.55);
        box-shadow:  0 0 2px rgba(255, 255, 255, 0.55);
        backdrop-filter: blur(20px);
    }
}